### Types of Restuarants around the Perth Metropolitan Area

In [1]:
#dependencies et al.
import matplotlib.pyplot as plt
import json
import requests
import pandas as pd
import numpy as np
import time

#api_keys
import api_keys

#central point of Perth CBD to define North and South
central_lat = -32.0391738
central_lng = 115.6813559

In [2]:
#bring in perth_metro_house_prices.csv
load_csv = "../data/perth_metro_house_prices.csv"
perth_house_prices = pd.read_csv(load_csv)
perth_house_prices.head()

,ADDRESS,SUBURB,PRICE,BEDROOMS,BATHROOMS,GARAGE,LAND_AREA,FLOOR_AREA,BUILD_YEAR,CBD_DIST,NEAREST_STN,NEAREST_STN_DIST,DATE_SOLD,POSTCODE,LATITUDE,LONGITUDE,NEAREST_SCH,NEAREST_SCH_DIST,NEAREST_SCH_RANK
0,1 Acorn Place,South Lake,565000,4,2,2.0,600,160,2003.0,18300,Cockburn Central Station,1800,09-2018\r,6164,-32.115900,115.842450,LAKELAND SENIOR HIGH SCHOOL,0.828339,NaN
1,1 Addis Way,Wandi,365000,3,2,2.0,351,139,2013.0,26900,Kwinana Station,4900,02-2019\r,6167,-32.193470,115.859553,ATWELL COLLEGE,5.524324,129.0
2,1 Ainsley Court,Camillo,287000,3,1,1.0,719,86,1979.0,22600,Challis Station,1900,06-2015\r,6111,-32.120578,115.993579,KELMSCOTT SENIOR HIGH SCHOOL,1.649178,113.0
3,1 Albert Street,Bellevue,255000,2,1,2.0,651,59,1953.0,17900,Midland Station,3600,07-2018\r,6056,-31.900547,116.038009,SWAN VIEW SENIOR HIGH SCHOOL,1.571401,NaN
4,1 Aman Place,Lockridge,325000,4,1,2.0,466,131,1998.0,11200,Bassendean Station,2000,11-2016\r,6054,-31.885790,115.947780,KIARA COLLEGE,1.514922,NaN

In [3]:
#create north_south column to distinguish suburb location vs perth CBD as central point
north_south = []
for row in perth_house_prices['LATITUDE']:
    if row >= central_lat:north_south.append('NORTH')
    else:
        north_south.append('SOUTH')
        
perth_house_prices.insert(2, 'NORTH_SOUTH', north_south)
perth_house_prices.head()

,ADDRESS,SUBURB,NORTH_SOUTH,PRICE,BEDROOMS,BATHROOMS,GARAGE,LAND_AREA,FLOOR_AREA,BUILD_YEAR,CBD_DIST,NEAREST_STN,NEAREST_STN_DIST,DATE_SOLD,POSTCODE,LATITUDE,LONGITUDE,NEAREST_SCH,NEAREST_SCH_DIST,NEAREST_SCH_RANK
0,1 Acorn Place,South Lake,SOUTH,565000,4,2,2.0,600,160,2003.0,18300,Cockburn Central Station,1800,09-2018\r,6164,-32.115900,115.842450,LAKELAND SENIOR HIGH SCHOOL,0.828339,NaN
1,1 Addis Way,Wandi,SOUTH,365000,3,2,2.0,351,139,2013.0,26900,Kwinana Station,4900,02-2019\r,6167,-32.193470,115.859553,ATWELL COLLEGE,5.524324,129.0
2,1 Ainsley Court,Camillo,SOUTH,287000,3,1,1.0,719,86,1979.0,22600,Challis Station,1900,06-2015\r,6111,-32.120578,115.993579,KELMSCOTT SENIOR HIGH SCHOOL,1.649178,113.0
3,1 Albert Street,Bellevue,NORTH,255000,2,1,2.0,651,59,1953.0,17900,Midland Station,3600,07-2018\r,6056,-31.900547,116.038009,SWAN VIEW SENIOR HIGH SCHOOL,1.571401,NaN
4,1 Aman Place,Lockridge,NORTH,325000,4,1,2.0,466,131,1998.0,11200,Bassendean Station,2000,11-2016\r,6054,-31.885790,115.947780,KIARA COLLEGE,1.514922,NaN

In [4]:
#create a smaller table to generate a groupby object to determine median house price by postcode and north / south.
median_house_price_postcode = perth_house_prices[['POSTCODE',
                                                  'SUBURB',
                                                  'NORTH_SOUTH',
                                                  'PRICE']]
median_house_price_postcode.head()

   POSTCODE      SUBURB NORTH_SOUTH   PRICE
0      6164  South Lake       SOUTH  565000
1      6167       Wandi       SOUTH  365000
2      6111     Camillo       SOUTH  287000
3      6056    Bellevue       NORTH  255000
4      6054   Lockridge       NORTH  325000

In [5]:
#groupby on postcode
grouped_median_house_price_postcode = median_house_price_postcode.groupby(['POSTCODE','SUBURB'])
median_price_by_postcode_mean = grouped_median_house_price_postcode['PRICE'].mean()
median_price_by_postcode = pd.DataFrame({"Median House Price":round(median_price_by_postcode_mean,0)})
median_price_by_postcode.reset_index(inplace = True)
median_price_by_postcode.head()

   POSTCODE       SUBURB  Median House Price
0      6003     Highgate            790883.0
1      6003  Northbridge            721636.0
2      6004   East Perth            510182.0
3      6005   West Perth            681065.0
4      6006  North Perth            849587.0

In [6]:
#groupby on north_south
grouped_median_house_price_north_south = median_house_price_postcode.groupby(['NORTH_SOUTH'])
median_price_by_north_south_mean = grouped_median_house_price_north_south['PRICE'].mean()
median_price_by_north_south = pd.DataFrame({"Median House Price":round(median_price_by_north_south_mean,0)})
median_price_by_north_south.head()

             Median House Price
NORTH_SOUTH
NORTH                  683849.0
SOUTH                  532993.0

In [7]:
#bring in consolidated_census_data.csv for socio-demographic information by SSC_CODE - 
#used excel lookups to determine suburbs and postcodes and cross referenced against census metadata.
load_csv = "../data/consolidated_census_data.csv"
census_data = pd.read_csv(load_csv)
census_data.head()

,SSC_CODE_2016,Suburb,Suburb (Original),Postcode,Suburb sqkm,Median Age (Persons),Median Mortgage Repayments (Monthly),Median Total Personal Income (Weekly),Median Rent (Weekly),Median Total Family Income (Weekly),...,People (15-24 year),People (25-34 year),People (35-44 year),People (45-54 year),People (55-64 year),People (65-74 year),People (75-84 year),People (85 and over year),Total Number of People,Unemployment Rate (%)
0,SSC50001,Abba River,Abba River,6280,28.5156,35,2167,675,220,1583,...,7,5,18,10,5,4,0,0,66,0.0
1,SSC50002,Abbey,Abbey,6280,2.6436,39,1950,665,400,1730,...,112,125,163,174,144,119,56,14,1210,5.0
2,SSC50003,Acton Park,Acton Park (WA),6280,24.8542,40,1617,756,185,1843,...,10,14,12,12,16,7,4,0,100,8.0
3,SSC50004,Adamsvale,Adamsvale,6375,246.5202,43,0,1625,0,3499,...,0,5,7,4,5,3,0,0,31,0.0
4,SSC50005,Ajana,Ajana,6532,727.8242,37,0,478,40,1312,...,8,10,6,14,42,51,14,0,164,0.0

In [8]:
#remove unecessary columns
census_data = census_data.drop(['SSC_CODE_2016','Suburb (Original)'], axis = 1)
#show columns available in census_data
list(census_data.columns.values)

['Suburb',
 'Postcode',
 'Suburb sqkm',
 'Median Age (Persons)',
 'Median Mortgage Repayments (Monthly)',
 'Median Total Personal Income (Weekly)',
 'Median Rent (Weekly)',
 'Median Total Family Income (Weekly)',
 'Average Number of Persons per Bedroom',
 'Median Total Household Income (Weekly)',
 'Average Household Size',
 'People (0-14 year)',
 'People (15-24 year)',
 'People (25-34 year)',
 'People (35-44 year)',
 'People (45-54 year)',
 'People (55-64 year)',
 'People (65-74 year)',
 'People (75-84 year)',
 'People (85 and over year)',
 'Total Number of People',
 'Unemployment Rate (%)']

In [9]:
median_price_by_postcode.dtypes

POSTCODE                int64
SUBURB                 object
Median House Price    float64
dtype: object

In [10]:
median_price_by_postcode['Median House Price'] = median_price_by_postcode['Median House Price'].astype(int)
median_price_by_postcode.dtypes

POSTCODE               int64
SUBURB                object
Median House Price     int32
dtype: object

In [11]:
census_data.dtypes

Suburb                                     object
Postcode                                    int64
Suburb sqkm                               float64
Median Age (Persons)                        int64
Median Mortgage Repayments (Monthly)        int64
Median Total Personal Income (Weekly)       int64
Median Rent (Weekly)                        int64
Median Total Family Income (Weekly)         int64
Average Number of Persons per Bedroom     float64
Median Total Household Income (Weekly)      int64
Average Household Size                    float64
People (0-14 year)                          int64
People (15-24 year)                         int64
People (25-34 year)                         int64
People (35-44 year)                         int64
People (45-54 year)                         int64
People (55-64 year)                         int64
People (65-74 year)                         int64
People (75-84 year)                         int64
People (85 and over year)                   int64
Total Number of People                      int64
Unemployment Rate (%)                     float64
dtype: object

In [12]:
#merge census data with median_price_by_postcode
pc_price_census_data = census_data.merge(right = median_price_by_postcode, 
                                         how = 'inner', 
                                         left_on = 'Suburb', 
                                         right_on = 'SUBURB')

pc_price_census_data.head()

,Suburb,Postcode,Suburb sqkm,Median Age (Persons),Median Mortgage Repayments (Monthly),Median Total Personal Income (Weekly),Median Rent (Weekly),Median Total Family Income (Weekly),Average Number of Persons per Bedroom,Median Total Household Income (Weekly),...,People (45-54 year),People (55-64 year),People (65-74 year),People (75-84 year),People (85 and over year),Total Number of People,Unemployment Rate (%),POSTCODE,SUBURB,Median House Price
0,Alexander Heights,6064,3.1816,37,1800,625,390,1704,0.8,1590,...,1163,1056,515,281,64,7844,8.8,6064,Alexander Heights,453285
1,Alfred Cove,6154,1.0566,39,2420,852,443,2542,0.8,2088,...,341,286,222,121,57,2472,4.4,6154,Alfred Cove,840087
2,Alkimos,6038,17.1744,28,2249,930,360,2094,0.7,1942,...,655,288,181,41,3,6138,6.6,6038,Alkimos,413750
3,Anketell,6167,6.8220,45,1733,641,420,1958,0.8,1721,...,34,40,29,3,0,227,2.4,6167,Anketell,1008763
4,Applecross,6153,3.1954,43,2916,954,460,2764,0.7,2186,...,908,926,714,412,207,6675,6.0,6153,Applecross,1376690

In [13]:
#quick check to see if any anomalies in suburbs list
suburbs_list = pc_price_census_data['Suburb'].tolist()
suburbs_list

['Alexander Heights',
 'Alfred Cove',
 'Alkimos',
 'Anketell',
 'Applecross',
 'Ardross',
 'Armadale',
 'Ascot',
 'Ashby',
 'Ashfield',
 'Attadale',
 'Atwell',
 'Aubin Grove',
 'Aveley',
 'Balcatta',
 'Baldivis',
 'Balga',
 'Ballajura',
 'Banjup',
 'Banksia Grove',
 'Baskerville',
 'Bassendean',
 'Bateman',
 'Bayswater',
 'Beaconsfield',
 'Beckenham',
 'Bedford',
 'Bedfordale',
 'Beechboro',
 'Beeliar',
 'Beldon',
 'Belhus',
 'Bellevue',
 'Belmont',
 'Bennett Springs',
 'Bentley',
 'Bertram',
 'Bibra Lake',
 'Bickley',
 'Bicton',
 'Booragoon',
 'Boya',
 'Brabham',
 'Brentwood',
 'Brigadoon',
 'Brookdale',
 'Bull Creek',
 'Bullsbrook',
 'Burns Beach',
 'Burswood',
 'Butler',
 'Byford',
 'Calista',
 'Camillo',
 'Canning Vale',
 'Cannington',
 'Carabooda',
 'Cardup',
 'Carine',
 'Carlisle',
 'Carmel',
 'Carramar',
 'Casuarina',
 'Caversham',
 'Champion Lakes',
 'Chidlow',
 'Churchlands',
 'City Beach',
 'Claremont',
 'Clarkson',
 'Cloverdale',
 'Cockburn Central',
 'Como',
 'Connolly',
 'Coogee',
 'Coolbellup',
 'Coolbinia',
 'Cooloongup',
 'Cottesloe',
 'Craigie',
 'Crawley',
 'Currambine',
 'Daglish',
 'Dalkeith',
 'Darch',
 'Darling Downs',
 'Darlington',
 'Dayton',
 'Dianella',
 'Doubleview',
 'Duncraig',
 'East Cannington',
 'East Fremantle',
 'East Perth',
 'East Victoria Park',
 'Eden Hill',
 'Edgewater',
 'Eglinton',
 'Ellenbrook',
 'Embleton',
 'Ferndale',
 'Floreat',
 'Forrestdale',
 'Forrestfield',
 'Fremantle',
 'Gidgegannup',
 'Girrawheen',
 'Glen Forrest',
 'Glendalough',
 'Gnangara',
 'Golden Bay',
 'Gooseberry Hill',
 'Gosnells',
 'Greenmount',
 'Greenwood',
 'Guildford',
 'Gwelup',
 'Hamersley',
 'Hamilton Hill',
 'Hammond Park',
 'Harrisdale',
 'Haynes',
 'Hazelmere',
 'Heathridge',
 'Helena Valley',
 'Henley Brook',
 'Herne Hill',
 'High Wycombe',
 'Highgate',
 'Hilbert',
 'Hillarys',
 'Hillman',
 'Hilton',
 'Hocking',
 'Hope Valley',
 'Hopeland',
 'Hovea',
 'Huntingdale',
 'Iluka',
 'Inglewood',
 'Innaloo',
 'Jandabup',
 'Jandakot',
 'Jane Brook',
 'Jarrahdale',
 'Jindalee',
 'Jolimont',
 'Joondalup',
 'Joondanna',
 'Kalamunda',
 'Kallaroo',
 'Karawara',
 'Kardinya',
 'Karnup',
 'Karragullen',
 'Karrinyup',
 'Kelmscott',
 'Kensington',
 'Kenwick',
 'Kewdale',
 'Keysbrook',
 'Kiara',
 'Kingsley',
 'Kinross',
 'Koondoola',
 'Koongamia',
 'Kwinana Beach',
 'Kwinana Town Centre',
 'Landsdale',
 'Langford',
 'Lathlain',
 'Leda',
 'Leederville',
 'Leeming',
 'Lesmurdie',
 'Lockridge',
 'Lynwood',
 'Maddington',
 'Madeley',
 'Mahogany Creek',
 'Maida Vale',
 'Manning',
 'Marangaroo',
 'Mardella',
 'Mariginiup',
 'Marmion',
 'Martin',
 'Maylands',
 'Medina',
 'Melville',
 'Menora',
 'Merriwa',
 'Middle Swan',
 'Midland',
 'Midvale',
 'Millendon',
 'Mindarie',
 'Mirrabooka',
 'Morley',
 'Mosman Park',
 'Mount Claremont',
 'Mount Hawthorn',
 'Mount Helena',
 'Mount Lawley',
 'Mount Nasura',
 'Mount Pleasant',
 'Mount Richon',
 'Mullaloo',
 'Mundaring',
 'Mundijong',
 'Munster',
 'Murdoch',
 'Myaree',
 'Naval Base',
 'Nedlands',
 'Neerabup',
 'Nollamara',
 'Noranda',
 'North Beach',
 'North Coogee',
 'North Fremantle',
 'North Lake',
 'North Perth',
 'Northbridge',
 "O'Connor",
 'Oakford',
 'Ocean Reef',
 'Oldbury',
 'Orange Grove',
 'Orelia',
 'Osborne Park',
 'Padbury',
 'Palmyra',
 'Parkerville',
 'Parkwood',
 'Parmelia',
 'Pearsall',
 'Peppermint Grove',
 'Piara Waters',
 'Pickering Brook',
 'Port Kennedy',
 'Queens Park',
 'Quinns Rocks',
 'Redcliffe',
 'Ridgewood',
 'Riverton',
 'Rivervale',
 'Rockingham',
 'Roleystone',
 'Rossmoyne',
 'Safety Bay',
 'Salter Point',
 'Samson',
 'Sawyers Valley',
 'Scarborough',
 'Secret Harbour',
 'Serpentine',
 'Seville Grove',
 'Shelley',
 'Shenton Park',
 'Shoalwater',
 'Sinagra',
 'Singleton',
 'Sorrento',
 'South Fremantle',
 'South Guildford',
 'South Lake',
 'South Perth',
 'Southern River',
 'Spearwood',
 'St James',
 'Stirling',
 'Stoneville',
 'Stratton',
 'Subiaco',
 'Success',
 'Swan View',
 'Swanbourne',
 'Tapping',
 'The Vines',
 'Thornlie',
 'Trigg',
 'Tuart Hill',
 'Two Rocks',
 'Upper Swan',
 'Victoria Park',
 'Viveash',
 'Waikiki',
 'Walliston',
 'Wandi',
 'Wangara',
 'Wanneroo',
 'Warnbro',
 'Warwick',
 'Waterford',
 'Watermans Bay',
 'Wattle Grove',
 'Wattleup',
 'Wellard',
 'Welshpool',
 'Wembley',
 'Wembley Downs',
 'West Leederville',
 'West Perth',
 'West Swan',
 'Westminster',
 'Whitby',
 'White Gum Valley',
 'Willagee',
 'Willetton',
 'Wilson',
 'Winthrop',
 'Woodbridge',
 'Woodlands',
 'Woodvale',
 'Wooroloo',
 'Wungong',
 'Yanchep',
 'Yangebup',
 'Yokine']

In [14]:
print(f"The number of suburbs in the dataframe is {len(suburbs_list)}.")
suburbs_list_unique = pc_price_census_data['Suburb'].unique().tolist()
print(f"The number of unique suburbs in the dataframe is {len(suburbs_list_unique)}.\
\n-------------------------------------------\
\nThere are {len(suburbs_list) - len(suburbs_list_unique)} suburbs duplicating.")

The number of suburbs in the dataframe is 320.
The number of unique suburbs in the dataframe is 320.
-------------------------------------------
There are 0 suburbs duplicating.

In [15]:
pc_price_census_data = pc_price_census_data.drop(['POSTCODE','SUBURB'], axis = 1)
pc_price_census_data = pc_price_census_data[['Postcode',
                                            'Suburb',
                                            'Suburb sqkm',
                                            'Median House Price',
                                            'Median Age (Persons)',
                                            'Median Mortgage Repayments (Monthly)',
                                            'Median Total Personal Income (Weekly)',
                                            'Median Rent (Weekly)',
                                            'Median Total Family Income (Weekly)',
                                            'Average Number of Persons per Bedroom',
                                            'Median Total Household Income (Weekly)',
                                            'Average Household Size',
                                            'People (0-14 year)',
                                            'People (15-24 year)',
                                            'People (25-34 year)',
                                            'People (35-44 year)',
                                            'People (45-54 year)',
                                            'People (55-64 year)',
                                            'People (65-74 year)',
                                            'People (75-84 year)',
                                            'People (85 and over year)',
                                            'Total Number of People',
                                            'Unemployment Rate (%)']]

pc_price_census_data['Number of Restuarants'] = ""
pc_price_census_data['Minimum Rating'] = ""
pc_price_census_data['Maximum Rating'] = ""
pc_price_census_data['Average Rating of Restuarants'] = ""
pc_price_census_data['Total Number of Reviews'] = ""
pc_price_census_data['Average Number of Reviews'] = ""
pc_price_census_data['Minimum Price Level'] = ""
pc_price_census_data['Maximum Price Level'] = ""
pc_price_census_data['Average Price Level'] = ""

list(pc_price_census_data.columns.values)

['Postcode',
 'Suburb',
 'Suburb sqkm',
 'Median House Price',
 'Median Age (Persons)',
 'Median Mortgage Repayments (Monthly)',
 'Median Total Personal Income (Weekly)',
 'Median Rent (Weekly)',
 'Median Total Family Income (Weekly)',
 'Average Number of Persons per Bedroom',
 'Median Total Household Income (Weekly)',
 'Average Household Size',
 'People (0-14 year)',
 'People (15-24 year)',
 'People (25-34 year)',
 'People (35-44 year)',
 'People (45-54 year)',
 'People (55-64 year)',
 'People (65-74 year)',
 'People (75-84 year)',
 'People (85 and over year)',
 'Total Number of People',
 'Unemployment Rate (%)',
 'Number of Restuarants',
 'Minimum Rating',
 'Maximum Rating',
 'Average Rating of Restuarants',
 'Total Number of Reviews',
 'Average Number of Reviews',
 'Minimum Price Level',
 'Maximum Price Level',
 'Average Price Level']

In [16]:
pc_price_census_data.to_csv("../Outputs/census_data_post_median_house_price.csv", index=False)

In [17]:
pc_price_census_data.head()

,Postcode,Suburb,Suburb sqkm,Median House Price,Median Age (Persons),Median Mortgage Repayments (Monthly),Median Total Personal Income (Weekly),Median Rent (Weekly),Median Total Family Income (Weekly),Average Number of Persons per Bedroom,...,Unemployment Rate (%),Number of Restuarants,Minimum Rating,Maximum Rating,Average Rating of Restuarants,Total Number of Reviews,Average Number of Reviews,Minimum Price Level,Maximum Price Level,Average Price Level
0,6064,Alexander Heights,3.1816,453285,37,1800,625,390,1704,0.8,...,8.8,,,,,,,,,
1,6154,Alfred Cove,1.0566,840087,39,2420,852,443,2542,0.8,...,4.4,,,,,,,,,
2,6038,Alkimos,17.1744,413750,28,2249,930,360,2094,0.7,...,6.6,,,,,,,,,
3,6167,Anketell,6.8220,1008763,45,1733,641,420,1958,0.8,...,2.4,,,,,,,,,
4,6153,Applecross,3.1954,1376690,43,2916,954,460,2764,0.7,...,6.0,,,,,,,,,

In [18]:
from api_keys import g_key

base_url = "https://maps.googleapis.com/maps/api/place/textsearch/json"

params = {
    "region" : "AU-WA",
    "business_status" : "operational",
    "key" : g_key
}

#place next for loop within loop that iterates through DF on 'Postcode'
for index, row in pc_price_census_data.iterrows():
    try:
        postcode = row["Postcode"]
        suburb = row["Suburb"]
        params["query"] = f"Restuarants only in {postcode}"
        response = requests.get(base_url, params = params).json()
        results = response['results']

        print(f"Results found for {suburb}, {postcode}.\
        \n")
        #number of restuarants for column and also average calculations
        pc_price_census_data.loc[index, "Number of Restuarants"] = len(results)
        
        #variables to test the following conditions on
        min_rating = 9
        max_rating = 0
        sum_ratings = 0
        total_number_reviews = 0
        minimum_price_level = 9
        maximum_price_level = 0
        sum_price = 0
        
        #for loop to look through the list of restuarants in each json call
        for restuarant in results:
            try:
                if restuarant['rating'] < min_rating:
                    min_rating = restuarant['rating']

                if restuarant['rating'] > max_rating:
                    max_rating = restuarant['rating']

                sum_ratings = sum_ratings + restuarant['rating']

                total_number_reviews = total_number_reviews + restuarant['user_ratings_total']

                if restuarant['price_level'] < minimum_price_level:
                    minimum_price_level = restuarant['price_level']

                if restuarant['price_level'] > maximum_price_level:
                    maximum_price_level = restuarant['price_level']      

                sum_price = sum_price + restuarant['price_level']

            except (KeyError):
                break
        
        #place results from the call into the relevant postcode column in df.
        #for average calculations, note that zero division error is possible, to try / except block the error and print 0.
        pc_price_census_data.loc[index, "Minimum Rating"] = min_rating
        pc_price_census_data.loc[index, "Maximum Rating"] = max_rating
        
        try:
            pc_price_census_data.loc[index, "Average Rating of Restuarants"] = sum_ratings / len(results)
        except (ZeroDivisionError):
            pc_price_census_data.loc[index, "Average Rating of Restuarants"] = 0
        pc_price_census_data.loc[index, "Total Number of Reviews"] = total_number_reviews
        
        try:
            pc_price_census_data.loc[index, "Average Number of Reviews"] = total_number_reviews / len(results)
        except (ZeroDivisionError):
            pc_price_census_data.loc[index, "Average Number of Reviews"] = 0
            
        pc_price_census_data.loc[index, "Minimum Price Level"] = minimum_price_level
        pc_price_census_data.loc[index, "Maximum Price Level"] = maximum_price_level
        
        try:
            pc_price_census_data.loc[index, "Average Price Level"] = sum_price / len(results)
        except (ZeroDivisionError):
            pc_price_census_data.loc[index, "Average Price Level"] = 0
    
    except (IndexError):
        print(f"No result found . . . skipped.\
        \n")
        
    time.sleep(1.01)

print(f"Search Complete")

Results found for Alexander Heights, 6064.

Results found for Alfred Cove, 6154.

Results found for Alkimos, 6038.

Results found for Anketell, 6167.

Results found for Applecross, 6153.

Results found for Ardross, 6153.

Results found for Armadale, 6112.

Results found for Ascot, 6104.

Results found for Ashby, 6065.

Results found for Ashfield, 6054.

Results found for Attadale, 6156.

Results found for Atwell, 6164.

Results found for Aubin Grove, 6164.

Results found for Aveley, 6069.

Results found for Balcatta, 6021.

Results found for Baldivis, 6171.

Results found for Balga, 6061.

Results found for Ballajura, 6066.

Results found for Banjup, 6164.

Results found for Banksia Grove, 6031.

Results found for Baskerville, 6056.

Results found for Bassendean, 6054.

Results found for Bateman, 6150.

Results found for Bayswater, 6053.

Results found for Beaconsfield, 6162.

Results found for Beckenham, 6107.

Results found for Bedford, 6052.

Results found for Bedfordale, 6112.

Results found for Beechboro, 6063.

Results found for Beeliar, 6164.

Results found for Beldon, 6027.

Results found for Belhus, 6069.

Results found for Bellevue, 6056.

Results found for Belmont, 6104.

Results found for Bennett Springs, 6063.

Results found for Bentley, 6102.

Results found for Bertram, 6167.

Results found for Bibra Lake, 6163.

Results found for Bickley, 6076.

Results found for Bicton, 6157.

Results found for Booragoon, 6154.

Results found for Boya, 6056.

Results found for Brabham, 6055.

Results found for Brentwood, 6153.

Results found for Brigadoon, 6069.

Results found for Brookdale, 6112.

Results found for Bull Creek, 6149.

Results found for Bullsbrook, 6084.

Results found for Burns Beach, 6028.

Results found for Burswood, 6100.

Results found for Butler, 6036.

Results found for Byford, 6122.

Results found for Calista, 6167.

Results found for Camillo, 6111.

Results found for Canning Vale, 6155.

Results found for Cannington, 6107.

Results found for Carabooda, 6033.

Results found for Cardup, 6122.

Results found for Carine, 6020.

Results found for Carlisle, 6101.

Results found for Carmel, 6076.

Results found for Carramar, 6031.

Results found for Casuarina, 6167.

Results found for Caversham, 6055.

Results found for Champion Lakes, 6111.

Results found for Chidlow, 6556.

Results found for Churchlands, 6018.

Results found for City Beach, 6015.

Results found for Claremont, 6010.

Results found for Clarkson, 6030.

Results found for Cloverdale, 6105.

Results found for Cockburn Central, 6164.

Results found for Como, 6152.

Results found for Connolly, 6027.

Results found for Coogee, 6166.

Results found for Coolbellup, 6163.

Results found for Coolbinia, 6050.

Results found for Cooloongup, 6168.

Results found for Cottesloe, 6011.

Results found for Craigie, 6025.

Results found for Crawley, 6009.

Results found for Currambine, 6028.

Results found for Daglish, 6008.

Results found for Dalkeith, 6009.

Results found for Darch, 6065.

Results found for Darling Downs, 6122.

Results found for Darlington, 6070.

Results found for Dayton, 6055.

Results found for Dianella, 6059.

Results found for Doubleview, 6018.

Results found for Duncraig, 6023.

Results found for East Cannington, 6107.

Results found for East Fremantle, 6158.

Results found for East Perth, 6004.

Results found for East Victoria Park, 6101.

Results found for Eden Hill, 6054.

Results found for Edgewater, 6027.

Results found for Eglinton, 6034.

Results found for Ellenbrook, 6069.

Results found for Embleton, 6062.

Results found for Ferndale, 6148.

Results found for Floreat, 6014.

Results found for Forrestdale, 6112.

Results found for Forrestfield, 6058.

Results found for Fremantle, 6160.

Results found for Gidgegannup, 6083.

Results found for Girrawheen, 6064.

Results found for Glen Forrest, 6071.

Results found for Glendalough, 6016.

Results found for Gnangara, 6077.

Results found for Golden Bay, 6174.

Results found for Gooseberry Hill, 6076.

Results found for Gosnells, 6110.

Results found for Greenmount, 6056.

Results found for Greenwood, 6024.

Results found for Guildford, 6055.

Results found for Gwelup, 6018.

Results found for Hamersley, 6022.

Results found for Hamilton Hill, 6163.

Results found for Hammond Park, 6164.

Results found for Harrisdale, 6112.

Results found for Haynes, 6112.

Results found for Hazelmere, 6055.

Results found for Heathridge, 6027.

Results found for Helena Valley, 6056.

Results found for Henley Brook, 6055.

Results found for Herne Hill, 6056.

Results found for High Wycombe, 6057.

Results found for Highgate, 6003.

Results found for Hilbert, 6112.

Results found for Hillarys, 6025.

Results found for Hillman, 6168.

Results found for Hilton, 6163.

Results found for Hocking, 6065.

Results found for Hope Valley, 6165.

Results found for Hopeland, 6125.

Results found for Hovea, 6071.

Results found for Huntingdale, 6110.

Results found for Iluka, 6028.

Results found for Inglewood, 6052.

Results found for Innaloo, 6018.

Results found for Jandabup, 6077.

Results found for Jandakot, 6164.

Results found for Jane Brook, 6056.

Results found for Jarrahdale, 6124.

Results found for Jindalee, 6036.

Results found for Jolimont, 6014.

Results found for Joondalup, 6027.

Results found for Joondanna, 6060.

Results found for Kalamunda, 6076.

Results found for Kallaroo, 6025.

Results found for Karawara, 6152.

Results found for Kardinya, 6163.

Results found for Karnup, 6176.

Results found for Karragullen, 6111.

Results found for Karrinyup, 6018.

Results found for Kelmscott, 6111.

Results found for Kensington, 6151.

Results found for Kenwick, 6107.

Results found for Kewdale, 6105.

Results found for Keysbrook, 6126.

Results found for Kiara, 6054.

Results found for Kingsley, 6026.

Results found for Kinross, 6028.

Results found for Koondoola, 6064.

Results found for Koongamia, 6056.

Results found for Kwinana Beach, 6167.

Results found for Kwinana Town Centre, 6167.

Results found for Landsdale, 6065.

Results found for Langford, 6147.

Results found for Lathlain, 6100.

Results found for Leda, 6170.

Results found for Leederville, 6007.

Results found for Leeming, 6149.

Results found for Lesmurdie, 6076.

Results found for Lockridge, 6054.

Results found for Lynwood, 6147.

Results found for Maddington, 6109.

Results found for Madeley, 6065.

Results found for Mahogany Creek, 6072.

Results found for Maida Vale, 6057.

Results found for Manning, 6152.

Results found for Marangaroo, 6064.

Results found for Mardella, 6125.

Results found for Mariginiup, 6078.

Results found for Marmion, 6020.

Results found for Martin, 6110.

Results found for Maylands, 6051.

Results found for Medina, 6167.

Results found for Melville, 6156.

Results found for Menora, 6050.

Results found for Merriwa, 6030.

Results found for Middle Swan, 6056.

Results found for Midland, 6056.

Results found for Midvale, 6056.

Results found for Millendon, 6056.

Results found for Mindarie, 6030.

Results found for Mirrabooka, 6061.

Results found for Morley, 6062.

Results found for Mosman Park, 6012.

Results found for Mount Claremont, 6010.

Results found for Mount Hawthorn, 6016.

Results found for Mount Helena, 6082.

Results found for Mount Lawley, 6050.

Results found for Mount Nasura, 6112.

Results found for Mount Pleasant, 6153.

Results found for Mount Richon, 6112.

Results found for Mullaloo, 6027.

Results found for Mundaring, 6073.

Results found for Mundijong, 6123.

Results found for Munster, 6166.

Results found for Murdoch, 6150.

Results found for Myaree, 6154.

Results found for Naval Base, 6165.

Results found for Nedlands, 6009.

Results found for Neerabup, 6031.

Results found for Nollamara, 6061.

Results found for Noranda, 6062.

Results found for North Beach, 6020.

Results found for North Coogee, 6163.

Results found for North Fremantle, 6159.

Results found for North Lake, 6163.

Results found for North Perth, 6006.

Results found for Northbridge, 6003.

Results found for O'Connor, 6163.

Results found for Oakford, 6121.

Results found for Ocean Reef, 6027.

Results found for Oldbury, 6121.

Results found for Orange Grove, 6109.

Results found for Orelia, 6167.

Results found for Osborne Park, 6017.

Results found for Padbury, 6025.

Results found for Palmyra, 6157.

Results found for Parkerville, 6081.

Results found for Parkwood, 6147.

Results found for Parmelia, 6167.

Results found for Pearsall, 6065.

Results found for Peppermint Grove, 6011.

Results found for Piara Waters, 6112.

Results found for Pickering Brook, 6076.

Results found for Port Kennedy, 6172.

Results found for Queens Park, 6107.

Results found for Quinns Rocks, 6030.

Results found for Redcliffe, 6104.

Results found for Ridgewood, 6030.

Results found for Riverton, 6148.

Results found for Rivervale, 6103.

Results found for Rockingham, 6168.

Results found for Roleystone, 6111.

Results found for Rossmoyne, 6148.

Results found for Safety Bay, 6169.

Results found for Salter Point, 6152.

Results found for Samson, 6163.

Results found for Sawyers Valley, 6074.

Results found for Scarborough, 6019.

Results found for Secret Harbour, 6173.

Results found for Serpentine, 6125.

Results found for Seville Grove, 6112.

Results found for Shelley, 6148.

Results found for Shenton Park, 6008.

Results found for Shoalwater, 6169.

Results found for Sinagra, 6065.

Results found for Singleton, 6175.

Results found for Sorrento, 6020.

Results found for South Fremantle, 6162.

Results found for South Guildford, 6055.

Results found for South Lake, 6164.

Results found for South Perth, 6151.

Results found for Southern River, 6110.

Results found for Spearwood, 6163.

Results found for St James, 6102.

Results found for Stirling, 6021.

Results found for Stoneville, 6081.

Results found for Stratton, 6056.

Results found for Subiaco, 6008.

Results found for Success, 6164.

Results found for Swan View, 6056.

Results found for Swanbourne, 6010.

Results found for Tapping, 6065.

Results found for The Vines, 6069.

Results found for Thornlie, 6108.

Results found for Trigg, 6029.

Results found for Tuart Hill, 6060.

Results found for Two Rocks, 6037.

Results found for Upper Swan, 6069.

Results found for Victoria Park, 6100.

Results found for Viveash, 6056.

Results found for Waikiki, 6169.

Results found for Walliston, 6076.

Results found for Wandi, 6167.

Results found for Wangara, 6065.

Results found for Wanneroo, 6065.

Results found for Warnbro, 6169.

Results found for Warwick, 6024.

Results found for Waterford, 6152.

Results found for Watermans Bay, 6020.

Results found for Wattle Grove, 6107.

Results found for Wattleup, 6166.

Results found for Wellard, 6170.

Results found for Welshpool, 6106.

Results found for Wembley, 6014.

Results found for Wembley Downs, 6019.

Results found for West Leederville, 6007.

Results found for West Perth, 6005.

Results found for West Swan, 6055.

Results found for Westminster, 6061.

Results found for Whitby, 6123.

Results found for White Gum Valley, 6162.

Results found for Willagee, 6156.

Results found for Willetton, 6155.

Results found for Wilson, 6107.

Results found for Winthrop, 6150.

Results found for Woodbridge, 6056.

Results found for Woodlands, 6018.

Results found for Woodvale, 6026.

Results found for Wooroloo, 6558.

Results found for Wungong, 6112.

Results found for Yanchep, 6035.

Results found for Yangebup, 6164.

Results found for Yokine, 6060.

Search Complete

In [19]:
socioec_restuarant = pc_price_census_data
socioec_restuarant['Restuarant Density'] = socioec_restuarant['Number of Restuarants'] / socioec_restuarant['Suburb sqkm']
socioec_restuarant

,Postcode,Suburb,Suburb sqkm,Median House Price,Median Age (Persons),Median Mortgage Repayments (Monthly),Median Total Personal Income (Weekly),Median Rent (Weekly),Median Total Family Income (Weekly),Average Number of Persons per Bedroom,...,Number of Restuarants,Minimum Rating,Maximum Rating,Average Rating of Restuarants,Total Number of Reviews,Average Number of Reviews,Minimum Price Level,Maximum Price Level,Average Price Level,Restuarant Density
0,6064,Alexander Heights,3.1816,453285,37,1800,625,390,1704,0.8,...,20,4.1,4.1,0.205,120,6,9,0,0,6.28615
1,6154,Alfred Cove,1.0566,840087,39,2420,852,443,2542,0.8,...,20,4.1,4.6,0.87,1103,55.15,2,2,0.3,18.9286
2,6038,Alkimos,17.1744,413750,28,2249,930,360,2094,0.7,...,20,3.5,4.5,0.59,3448,172.4,2,3,0.25,1.16452
3,6167,Anketell,6.8220,1008763,45,1733,641,420,1958,0.8,...,20,3.8,4.7,1.925,5375,268.75,2,3,0.95,2.93169
4,6153,Applecross,3.1954,1376690,43,2916,954,460,2764,0.7,...,20,4,4.8,0.855,1221,61.05,2,2,0.3,6.259
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
315,6558,Wooroloo,47.3168,435353,36,2000,676,260,1718,0.8,...,12,3.8,3.8,0.316667,110,9.16667,9,0,0,0.25361
316,6112,Wungong,4.1374,664118,42,2000,622,498,1687,0.8,...,20,4.2,4.4,0.43,579,28.95,2,2,0.1,4.83395
317,6035,Yanchep,218.5206,398192,34,2050,691,350,1728,0.7,...,20,3.8,4.5,0.415,2554,127.7,3,3,0.15,0.0915246
318,6164,Yangebup,6.0198,473640,35,1950,738,350,1974,0.8,...,20,3.3,4.7,1.215,1898,94.9,1,2,0.45,3.32237
319,6060,Yokine,4.8516,625320,37,1957,788,340,1903,0.8,...,20,3.8,4.2,0.6,832,41.6,2,2,0.2,4.12235

In [20]:
#export dataframe to csv
socioec_restuarant.to_csv("../Outputs/socio_demographic_restuarant_data.csv", index=False)

In [21]:
#bring in wa_electorial_populations.csv
load_csv = "../data/wa_electorial_populations.csv"
wa_populations = pd.read_csv(load_csv)
wa_populations.head()

   Electorial_Group                          Suburb  2020_Population
0             50106             Albany (South West)            38295
1             50202    Armadale (East Metropolitan)            50268
2             50304   Balcatta (North Metropolitan)            44478
3             50405   Baldivis (South Metropolitan)            60243
4             50502  Bassendean (East Metropolitan)            44134