### Types of Restaurants around the Perth Metropolitan Area

In [1]:
#dependencies et al.
import matplotlib.pyplot as plt
import json
import requests
import pandas as pd
import numpy as np
import time

#api_keys
import api_keys

#central point of Perth CBD to define North and South
central_lat = -32.0391738
central_lng = 115.6813559

In [2]:
#bring in perth_metro_house_prices.csv
load_csv = "../data/perth_metro_house_prices.csv"
perth_house_prices = pd.read_csv(load_csv)
perth_house_prices.head()

,ADDRESS,SUBURB,PRICE,BEDROOMS,BATHROOMS,GARAGE,LAND_AREA,FLOOR_AREA,BUILD_YEAR,CBD_DIST,NEAREST_STN,NEAREST_STN_DIST,DATE_SOLD,POSTCODE,LATITUDE,LONGITUDE,NEAREST_SCH,NEAREST_SCH_DIST,NEAREST_SCH_RANK
0,1 Acorn Place,South Lake,565000,4,2,2.0,600,160,2003.0,18300,Cockburn Central Station,1800,09-2018\r,6164,-32.115900,115.842450,LAKELAND SENIOR HIGH SCHOOL,0.828339,NaN
1,1 Addis Way,Wandi,365000,3,2,2.0,351,139,2013.0,26900,Kwinana Station,4900,02-2019\r,6167,-32.193470,115.859553,ATWELL COLLEGE,5.524324,129.0
2,1 Ainsley Court,Camillo,287000,3,1,1.0,719,86,1979.0,22600,Challis Station,1900,06-2015\r,6111,-32.120578,115.993579,KELMSCOTT SENIOR HIGH SCHOOL,1.649178,113.0
3,1 Albert Street,Bellevue,255000,2,1,2.0,651,59,1953.0,17900,Midland Station,3600,07-2018\r,6056,-31.900547,116.038009,SWAN VIEW SENIOR HIGH SCHOOL,1.571401,NaN
4,1 Aman Place,Lockridge,325000,4,1,2.0,466,131,1998.0,11200,Bassendean Station,2000,11-2016\r,6054,-31.885790,115.947780,KIARA COLLEGE,1.514922,NaN

In [3]:
#create north_south column to distinguish suburb location vs perth CBD as central point
north_south = []
for row in perth_house_prices['LATITUDE']:
    if row >= central_lat:north_south.append('NORTH')
    else:
        north_south.append('SOUTH')
        
perth_house_prices.insert(2, 'NORTH_SOUTH', north_south)
perth_house_prices.head()

,ADDRESS,SUBURB,NORTH_SOUTH,PRICE,BEDROOMS,BATHROOMS,GARAGE,LAND_AREA,FLOOR_AREA,BUILD_YEAR,CBD_DIST,NEAREST_STN,NEAREST_STN_DIST,DATE_SOLD,POSTCODE,LATITUDE,LONGITUDE,NEAREST_SCH,NEAREST_SCH_DIST,NEAREST_SCH_RANK
0,1 Acorn Place,South Lake,SOUTH,565000,4,2,2.0,600,160,2003.0,18300,Cockburn Central Station,1800,09-2018\r,6164,-32.115900,115.842450,LAKELAND SENIOR HIGH SCHOOL,0.828339,NaN
1,1 Addis Way,Wandi,SOUTH,365000,3,2,2.0,351,139,2013.0,26900,Kwinana Station,4900,02-2019\r,6167,-32.193470,115.859553,ATWELL COLLEGE,5.524324,129.0
2,1 Ainsley Court,Camillo,SOUTH,287000,3,1,1.0,719,86,1979.0,22600,Challis Station,1900,06-2015\r,6111,-32.120578,115.993579,KELMSCOTT SENIOR HIGH SCHOOL,1.649178,113.0
3,1 Albert Street,Bellevue,NORTH,255000,2,1,2.0,651,59,1953.0,17900,Midland Station,3600,07-2018\r,6056,-31.900547,116.038009,SWAN VIEW SENIOR HIGH SCHOOL,1.571401,NaN
4,1 Aman Place,Lockridge,NORTH,325000,4,1,2.0,466,131,1998.0,11200,Bassendean Station,2000,11-2016\r,6054,-31.885790,115.947780,KIARA COLLEGE,1.514922,NaN

In [4]:
#create a smaller table to generate a groupby object to determine median house price by postcode and north / south.
median_house_price_postcode = perth_house_prices[['POSTCODE',
                                                  'SUBURB',
                                                  'NORTH_SOUTH',
                                                  'PRICE']]
median_house_price_postcode.head()

   POSTCODE      SUBURB NORTH_SOUTH   PRICE
0      6164  South Lake       SOUTH  565000
1      6167       Wandi       SOUTH  365000
2      6111     Camillo       SOUTH  287000
3      6056    Bellevue       NORTH  255000
4      6054   Lockridge       NORTH  325000

In [5]:
#groupby on postcode
grouped_median_house_price_postcode = median_house_price_postcode.groupby(['POSTCODE','SUBURB'])
median_price_by_postcode_mean = grouped_median_house_price_postcode['PRICE'].mean()
median_price_by_postcode = pd.DataFrame({"Median House Price":round(median_price_by_postcode_mean,0)})
median_price_by_postcode.reset_index(inplace = True)
median_price_by_postcode.head()

   POSTCODE       SUBURB  Median House Price
0      6003     Highgate            790883.0
1      6003  Northbridge            721636.0
2      6004   East Perth            510182.0
3      6005   West Perth            681065.0
4      6006  North Perth            849587.0

In [6]:
#groupby on north_south
grouped_median_house_price_north_south = median_house_price_postcode.groupby(['NORTH_SOUTH'])
median_price_by_north_south_mean = grouped_median_house_price_north_south['PRICE'].mean()
median_price_by_north_south = pd.DataFrame({"Median House Price":round(median_price_by_north_south_mean,0)})
median_price_by_north_south.head()

             Median House Price
NORTH_SOUTH
NORTH                  683849.0
SOUTH                  532993.0

In [7]:
#bring in consolidated_census_data.csv for socio-demographic information by SSC_CODE - 
#used excel lookups to determine suburbs and postcodes and cross referenced against census metadata.
load_csv = "../data/consolidated_census_data.csv"
census_data = pd.read_csv(load_csv)
census_data.head()

,SSC_CODE_2016,Suburb,Suburb (Original),Postcode,Suburb sqkm,Median Age (Persons),Median Mortgage Repayments (Monthly),Median Total Personal Income (Weekly),Median Rent (Weekly),Median Total Family Income (Weekly),...,People (15-24 year),People (25-34 year),People (35-44 year),People (45-54 year),People (55-64 year),People (65-74 year),People (75-84 year),People (85 and over year),Total Number of People,Unemployment Rate (%)
0,SSC50001,Abba River,Abba River,6280,28.5156,35,2167,675,220,1583,...,7,5,18,10,5,4,0,0,66,0.0
1,SSC50002,Abbey,Abbey,6280,2.6436,39,1950,665,400,1730,...,112,125,163,174,144,119,56,14,1210,5.0
2,SSC50003,Acton Park,Acton Park (WA),6280,24.8542,40,1617,756,185,1843,...,10,14,12,12,16,7,4,0,100,8.0
3,SSC50004,Adamsvale,Adamsvale,6375,246.5202,43,0,1625,0,3499,...,0,5,7,4,5,3,0,0,31,0.0
4,SSC50005,Ajana,Ajana,6532,727.8242,37,0,478,40,1312,...,8,10,6,14,42,51,14,0,164,0.0

In [8]:
#remove unecessary columns
census_data = census_data.drop(['SSC_CODE_2016','Suburb (Original)'], axis = 1)
#show columns available in census_data
list(census_data.columns.values)

['Suburb',
 'Postcode',
 'Suburb sqkm',
 'Median Age (Persons)',
 'Median Mortgage Repayments (Monthly)',
 'Median Total Personal Income (Weekly)',
 'Median Rent (Weekly)',
 'Median Total Family Income (Weekly)',
 'Average Number of Persons per Bedroom',
 'Median Total Household Income (Weekly)',
 'Average Household Size',
 'People (0-14 year)',
 'People (15-24 year)',
 'People (25-34 year)',
 'People (35-44 year)',
 'People (45-54 year)',
 'People (55-64 year)',
 'People (65-74 year)',
 'People (75-84 year)',
 'People (85 and over year)',
 'Total Number of People',
 'Unemployment Rate (%)']

In [9]:
median_price_by_postcode.dtypes

POSTCODE                int64
SUBURB                 object
Median House Price    float64
dtype: object

In [10]:
median_price_by_postcode['Median House Price'] = median_price_by_postcode['Median House Price'].astype(int)
median_price_by_postcode.dtypes

POSTCODE               int64
SUBURB                object
Median House Price     int32
dtype: object

In [11]:
census_data.dtypes

Suburb                                     object
Postcode                                    int64
Suburb sqkm                               float64
Median Age (Persons)                        int64
Median Mortgage Repayments (Monthly)        int64
Median Total Personal Income (Weekly)       int64
Median Rent (Weekly)                        int64
Median Total Family Income (Weekly)         int64
Average Number of Persons per Bedroom     float64
Median Total Household Income (Weekly)      int64
Average Household Size                    float64
People (0-14 year)                          int64
People (15-24 year)                         int64
People (25-34 year)                         int64
People (35-44 year)                         int64
People (45-54 year)                         int64
People (55-64 year)                         int64
People (65-74 year)                         int64
People (75-84 year)                         int64
People (85 and over year)                   int64
Total Number of People                      int64
Unemployment Rate (%)                     float64
dtype: object

In [12]:
#merge census data with median_price_by_postcode
pc_price_census_data = census_data.merge(right = median_price_by_postcode, 
                                         how = 'inner', 
                                         left_on = 'Suburb', 
                                         right_on = 'SUBURB')

pc_price_census_data.head()

,Suburb,Postcode,Suburb sqkm,Median Age (Persons),Median Mortgage Repayments (Monthly),Median Total Personal Income (Weekly),Median Rent (Weekly),Median Total Family Income (Weekly),Average Number of Persons per Bedroom,Median Total Household Income (Weekly),...,People (45-54 year),People (55-64 year),People (65-74 year),People (75-84 year),People (85 and over year),Total Number of People,Unemployment Rate (%),POSTCODE,SUBURB,Median House Price
0,Alexander Heights,6064,3.1816,37,1800,625,390,1704,0.8,1590,...,1163,1056,515,281,64,7844,8.8,6064,Alexander Heights,453285
1,Alfred Cove,6154,1.0566,39,2420,852,443,2542,0.8,2088,...,341,286,222,121,57,2472,4.4,6154,Alfred Cove,840087
2,Alkimos,6038,17.1744,28,2249,930,360,2094,0.7,1942,...,655,288,181,41,3,6138,6.6,6038,Alkimos,413750
3,Anketell,6167,6.8220,45,1733,641,420,1958,0.8,1721,...,34,40,29,3,0,227,2.4,6167,Anketell,1008763
4,Applecross,6153,3.1954,43,2916,954,460,2764,0.7,2186,...,908,926,714,412,207,6675,6.0,6153,Applecross,1376690

In [13]:
#quick check to see if any anomalies in suburbs list
suburbs_list = pc_price_census_data['Suburb'].tolist()
suburbs_list

['Alexander Heights',
 'Alfred Cove',
 'Alkimos',
 'Anketell',
 'Applecross',
 'Ardross',
 'Armadale',
 'Ascot',
 'Ashby',
 'Ashfield',
 'Attadale',
 'Atwell',
 'Aubin Grove',
 'Aveley',
 'Balcatta',
 'Baldivis',
 'Balga',
 'Ballajura',
 'Banjup',
 'Banksia Grove',
 'Baskerville',
 'Bassendean',
 'Bateman',
 'Bayswater',
 'Beaconsfield',
 'Beckenham',
 'Bedford',
 'Bedfordale',
 'Beechboro',
 'Beeliar',
 'Beldon',
 'Belhus',
 'Bellevue',
 'Belmont',
 'Bennett Springs',
 'Bentley',
 'Bertram',
 'Bibra Lake',
 'Bickley',
 'Bicton',
 'Booragoon',
 'Boya',
 'Brabham',
 'Brentwood',
 'Brigadoon',
 'Brookdale',
 'Bull Creek',
 'Bullsbrook',
 'Burns Beach',
 'Burswood',
 'Butler',
 'Byford',
 'Calista',
 'Camillo',
 'Canning Vale',
 'Cannington',
 'Carabooda',
 'Cardup',
 'Carine',
 'Carlisle',
 'Carmel',
 'Carramar',
 'Casuarina',
 'Caversham',
 'Champion Lakes',
 'Chidlow',
 'Churchlands',
 'City Beach',
 'Claremont',
 'Clarkson',
 'Cloverdale',
 'Cockburn Central',
 'Como',
 'Connolly',
 'Coogee',
 'Coolbellup',
 'Coolbinia',
 'Cooloongup',
 'Cottesloe',
 'Craigie',
 'Crawley',
 'Currambine',
 'Daglish',
 'Dalkeith',
 'Darch',
 'Darling Downs',
 'Darlington',
 'Dayton',
 'Dianella',
 'Doubleview',
 'Duncraig',
 'East Cannington',
 'East Fremantle',
 'East Perth',
 'East Victoria Park',
 'Eden Hill',
 'Edgewater',
 'Eglinton',
 'Ellenbrook',
 'Embleton',
 'Ferndale',
 'Floreat',
 'Forrestdale',
 'Forrestfield',
 'Fremantle',
 'Gidgegannup',
 'Girrawheen',
 'Glen Forrest',
 'Glendalough',
 'Gnangara',
 'Golden Bay',
 'Gooseberry Hill',
 'Gosnells',
 'Greenmount',
 'Greenwood',
 'Guildford',
 'Gwelup',
 'Hamersley',
 'Hamilton Hill',
 'Hammond Park',
 'Harrisdale',
 'Haynes',
 'Hazelmere',
 'Heathridge',
 'Helena Valley',
 'Henley Brook',
 'Herne Hill',
 'High Wycombe',
 'Highgate',
 'Hilbert',
 'Hillarys',
 'Hillman',
 'Hilton',
 'Hocking',
 'Hope Valley',
 'Hopeland',
 'Hovea',
 'Huntingdale',
 'Iluka',
 'Inglewood',
 'Innaloo',
 'Jandabup',
 'Jandakot',
 'Jane Brook',
 'Jarrahdale',
 'Jindalee',
 'Jolimont',
 'Joondalup',
 'Joondanna',
 'Kalamunda',
 'Kallaroo',
 'Karawara',
 'Kardinya',
 'Karnup',
 'Karragullen',
 'Karrinyup',
 'Kelmscott',
 'Kensington',
 'Kenwick',
 'Kewdale',
 'Keysbrook',
 'Kiara',
 'Kingsley',
 'Kinross',
 'Koondoola',
 'Koongamia',
 'Kwinana Beach',
 'Kwinana Town Centre',
 'Landsdale',
 'Langford',
 'Lathlain',
 'Leda',
 'Leederville',
 'Leeming',
 'Lesmurdie',
 'Lockridge',
 'Lynwood',
 'Maddington',
 'Madeley',
 'Mahogany Creek',
 'Maida Vale',
 'Manning',
 'Marangaroo',
 'Mardella',
 'Mariginiup',
 'Marmion',
 'Martin',
 'Maylands',
 'Medina',
 'Melville',
 'Menora',
 'Merriwa',
 'Middle Swan',
 'Midland',
 'Midvale',
 'Millendon',
 'Mindarie',
 'Mirrabooka',
 'Morley',
 'Mosman Park',
 'Mount Claremont',
 'Mount Hawthorn',
 'Mount Helena',
 'Mount Lawley',
 'Mount Nasura',
 'Mount Pleasant',
 'Mount Richon',
 'Mullaloo',
 'Mundaring',
 'Mundijong',
 'Munster',
 'Murdoch',
 'Myaree',
 'Naval Base',
 'Nedlands',
 'Neerabup',
 'Nollamara',
 'Noranda',
 'North Beach',
 'North Coogee',
 'North Fremantle',
 'North Lake',
 'North Perth',
 'Northbridge',
 "O'Connor",
 'Oakford',
 'Ocean Reef',
 'Oldbury',
 'Orange Grove',
 'Orelia',
 'Osborne Park',
 'Padbury',
 'Palmyra',
 'Parkerville',
 'Parkwood',
 'Parmelia',
 'Pearsall',
 'Peppermint Grove',
 'Piara Waters',
 'Pickering Brook',
 'Port Kennedy',
 'Queens Park',
 'Quinns Rocks',
 'Redcliffe',
 'Ridgewood',
 'Riverton',
 'Rivervale',
 'Rockingham',
 'Roleystone',
 'Rossmoyne',
 'Safety Bay',
 'Salter Point',
 'Samson',
 'Sawyers Valley',
 'Scarborough',
 'Secret Harbour',
 'Serpentine',
 'Seville Grove',
 'Shelley',
 'Shenton Park',
 'Shoalwater',
 'Sinagra',
 'Singleton',
 'Sorrento',
 'South Fremantle',
 'South Guildford',
 'South Lake',
 'South Perth',
 'Southern River',
 'Spearwood',
 'St James',
 'Stirling',
 'Stoneville',
 'Stratton',
 'Subiaco',
 'Success',
 'Swan View',
 'Swanbourne',
 'Tapping',
 'The Vines',
 'Thornlie',
 'Trigg',
 'Tuart Hill',
 'Two Rocks',
 'Upper Swan',
 'Victoria Park',
 'Viveash',
 'Waikiki',
 'Walliston',
 'Wandi',
 'Wangara',
 'Wanneroo',
 'Warnbro',
 'Warwick',
 'Waterford',
 'Watermans Bay',
 'Wattle Grove',
 'Wattleup',
 'Wellard',
 'Welshpool',
 'Wembley',
 'Wembley Downs',
 'West Leederville',
 'West Perth',
 'West Swan',
 'Westminster',
 'Whitby',
 'White Gum Valley',
 'Willagee',
 'Willetton',
 'Wilson',
 'Winthrop',
 'Woodbridge',
 'Woodlands',
 'Woodvale',
 'Wooroloo',
 'Wungong',
 'Yanchep',
 'Yangebup',
 'Yokine']

In [14]:
print(f"The number of suburbs in the dataframe is {len(suburbs_list)}.")
suburbs_list_unique = pc_price_census_data['Suburb'].unique().tolist()
print(f"The number of unique suburbs in the dataframe is {len(suburbs_list_unique)}.\
\n-------------------------------------------\
\nThere are {len(suburbs_list) - len(suburbs_list_unique)} suburbs duplicating.")

The number of suburbs in the dataframe is 320.
The number of unique suburbs in the dataframe is 320.
-------------------------------------------
There are 0 suburbs duplicating.

In [15]:
pc_price_census_data = pc_price_census_data.drop(['POSTCODE','SUBURB'], axis = 1)
pc_price_census_data = pc_price_census_data[['Postcode',
                                            'Suburb',
                                            'Suburb sqkm',
                                            'Median House Price',
                                            'Median Age (Persons)',
                                            'Median Mortgage Repayments (Monthly)',
                                            'Median Total Personal Income (Weekly)',
                                            'Median Rent (Weekly)',
                                            'Median Total Family Income (Weekly)',
                                            'Average Number of Persons per Bedroom',
                                            'Median Total Household Income (Weekly)',
                                            'Average Household Size',
                                            'People (0-14 year)',
                                            'People (15-24 year)',
                                            'People (25-34 year)',
                                            'People (35-44 year)',
                                            'People (45-54 year)',
                                            'People (55-64 year)',
                                            'People (65-74 year)',
                                            'People (75-84 year)',
                                            'People (85 and over year)',
                                            'Total Number of People',
                                            'Unemployment Rate (%)']]

pc_price_census_data['Number of restaurants'] = ""
pc_price_census_data['Minimum Rating'] = ""
pc_price_census_data['Maximum Rating'] = ""
pc_price_census_data['Average Rating of restaurants'] = ""
pc_price_census_data['Total Number of Reviews'] = ""
pc_price_census_data['Average Number of Reviews'] = ""
pc_price_census_data['Minimum Price Level'] = ""
pc_price_census_data['Maximum Price Level'] = ""
pc_price_census_data['Average Price Level'] = ""

list(pc_price_census_data.columns.values)

['Postcode',
 'Suburb',
 'Suburb sqkm',
 'Median House Price',
 'Median Age (Persons)',
 'Median Mortgage Repayments (Monthly)',
 'Median Total Personal Income (Weekly)',
 'Median Rent (Weekly)',
 'Median Total Family Income (Weekly)',
 'Average Number of Persons per Bedroom',
 'Median Total Household Income (Weekly)',
 'Average Household Size',
 'People (0-14 year)',
 'People (15-24 year)',
 'People (25-34 year)',
 'People (35-44 year)',
 'People (45-54 year)',
 'People (55-64 year)',
 'People (65-74 year)',
 'People (75-84 year)',
 'People (85 and over year)',
 'Total Number of People',
 'Unemployment Rate (%)',
 'Number of restaurants',
 'Minimum Rating',
 'Maximum Rating',
 'Average Rating of restaurants',
 'Total Number of Reviews',
 'Average Number of Reviews',
 'Minimum Price Level',
 'Maximum Price Level',
 'Average Price Level']

In [16]:
pc_price_census_data.to_csv("../Outputs/census_data_post_median_house_price.csv", index=False)

In [17]:
pc_price_census_data.head()

,Postcode,Suburb,Suburb sqkm,Median House Price,Median Age (Persons),Median Mortgage Repayments (Monthly),Median Total Personal Income (Weekly),Median Rent (Weekly),Median Total Family Income (Weekly),Average Number of Persons per Bedroom,...,Unemployment Rate (%),Number of restaurants,Minimum Rating,Maximum Rating,Average Rating of restaurants,Total Number of Reviews,Average Number of Reviews,Minimum Price Level,Maximum Price Level,Average Price Level
0,6064,Alexander Heights,3.1816,453285,37,1800,625,390,1704,0.8,...,8.8,,,,,,,,,
1,6154,Alfred Cove,1.0566,840087,39,2420,852,443,2542,0.8,...,4.4,,,,,,,,,
2,6038,Alkimos,17.1744,413750,28,2249,930,360,2094,0.7,...,6.6,,,,,,,,,
3,6167,Anketell,6.8220,1008763,45,1733,641,420,1958,0.8,...,2.4,,,,,,,,,
4,6153,Applecross,3.1954,1376690,43,2916,954,460,2764,0.7,...,6.0,,,,,,,,,

In [18]:
#get_restaurant_stats will obtain the variables from each JSON call if pagetoken available
def get_restaurant_stats(results, min_rating, max_rating, sum_ratings, 
                         total_number_reviews, minimum_price_level, maximum_price_level,
                         sum_price, restaurant_found, restaurant_count):
    
    #restaurant_count will be initially set to 0, and then counted based on the length of each len(results) of the json query
    restaurant_count = restaurant_count + len(results)
                
    #for loop to look through the list of restaurants in each json call
    for restaurant in results:
        try:
                
            if restaurant['rating'] < min_rating:
                min_rating = restaurant['rating']

            if restaurant['rating'] > max_rating:
                max_rating = restaurant['rating']

            sum_ratings = sum_ratings + restaurant['rating']

            total_number_reviews = total_number_reviews + restaurant['user_ratings_total']

            if restaurant['price_level'] < minimum_price_level:
                minimum_price_level = restaurant['price_level']

            if restaurant['price_level'] > maximum_price_level:
                maximum_price_level = restaurant['price_level']      

            sum_price = sum_price + restaurant['price_level']

            restaurant_found = True

        #continue on keyerror to skip cases where no variable is available
        except:
            continue
            
    return min_rating, max_rating, sum_ratings, total_number_reviews, minimum_price_level, maximum_price_level,sum_price,restaurant_found, restaurant_count

In [30]:
from api_keys import g_key

base_url = "https://maps.googleapis.com/maps/api/place/textsearch/json"

params = {
    "region" : "AU-WA",
    "business_status" : "operational",
    "type" : "restaurant",
    "key" : g_key
}

#place next for loop within loop that iterates through DF on 'Postcode'
for index, row in pc_price_census_data.iterrows():
    try:
        postcode = row["Postcode"]
        suburb = row["Suburb"]
        params["query"] = suburb
        params["radius"] = row["Suburb sqkm"] * 1000
        response = requests.get(base_url, params = params).json()
        results = response['results']

        try:
            page_token = response['next_page_token']
        except:
            page_token = None

        print(f"Results found for {suburb}, {postcode}.\
        \n")
        
        print(params)

        #variables to test the following conditions on
        min_rating = 9
        max_rating = 0
        sum_ratings = 0
        total_number_reviews = 0
        minimum_price_level = 9
        maximum_price_level = 0
        sum_price = 0
        restaurant_found = False
        restaurant_count = 0
        
        #retrieve results of query from get_restaurant_data
        min_rating, max_rating, sum_ratings, total_number_reviews, minimum_price_level, maximum_price_level,sum_price, restaurant_found, restaurant_count = get_restaurant_stats(results, min_rating, max_rating, sum_ratings, total_number_reviews, minimum_price_level, maximum_price_level,sum_price, restaurant_found, restaurant_count)

        #sleep for 5 seconds required to activate pagetoken parameter for next query
        time.sleep(5.00)

        while page_token:
            params["pagetoken"] = page_token
            response = requests.get(base_url, params = params).json()
            results = response['results']
            try:
                page_token = response['next_page_token']
                min_rating, max_rating, sum_ratings, total_number_reviews, minimum_price_level, maximum_price_level,sum_price, restaurant_found, restaurant_count = get_restaurant_stats(results, min_rating, max_rating, sum_ratings, total_number_reviews, minimum_price_level, maximum_price_level,sum_price, restaurant_found, restaurant_count)
                #sleep for 5 seconds required to activate pagetoken parameter for next query
                time.sleep(5.00)
            except:
                page_token = None
                min_rating, max_rating, sum_ratings, total_number_reviews, minimum_price_level, maximum_price_level,sum_price, restaurant_found, restaurant_count = get_restaurant_stats(results, min_rating, max_rating, sum_ratings, total_number_reviews, minimum_price_level, maximum_price_level,sum_price, restaurant_found, restaurant_count)
                                
        if restaurant_found:

            #place results from the call into the relevant postcode column in df.
            #for average calculations, note that zero division error is possible, to try / except block the error and print 0.
            #number of restaurants for column and also average calculations
            pc_price_census_data.loc[index, "Number of restaurants"] = restaurant_count
            pc_price_census_data.loc[index, "Minimum Rating"] = min_rating
            pc_price_census_data.loc[index, "Maximum Rating"] = max_rating

            try:
                pc_price_census_data.loc[index, "Average Rating of restaurants"] = sum_ratings / restaurant_count
            except (ZeroDivisionError):
                pc_price_census_data.loc[index, "Average Rating of restaurants"] = 0
            pc_price_census_data.loc[index, "Total Number of Reviews"] = total_number_reviews

            try:
                pc_price_census_data.loc[index, "Average Number of Reviews"] = total_number_reviews / restaurant_count
            except (ZeroDivisionError):
                pc_price_census_data.loc[index, "Average Number of Reviews"] = 0

            pc_price_census_data.loc[index, "Minimum Price Level"] = minimum_price_level
            pc_price_census_data.loc[index, "Maximum Price Level"] = maximum_price_level

            try:
                pc_price_census_data.loc[index, "Average Price Level"] = sum_price / restaurant_count
            except (ZeroDivisionError):
                pc_price_census_data.loc[index, "Average Price Level"] = 0
  
    except (IndexError):
        print(f"No result found . . . skipped.\
        \n")
        
    print(f"{restaurant_count} total results found.\
    \n")
        
    time.sleep(1.01)

print(f"Search Complete")

Results found for Alexander Heights, 6064.

{'region': 'AU-WA', 'business_status': 'operational', 'type': 'restaurant', 'key': 'AIzaSyAYhgkNxKue4a_G_5CdKk3hfowOug_lQno', 'query': 'Alexander Heights', 'radius': 3181.6}
24 total results found.

Results found for Alfred Cove, 6154.

{'region': 'AU-WA', 'business_status': 'operational', 'type': 'restaurant', 'key': 'AIzaSyAYhgkNxKue4a_G_5CdKk3hfowOug_lQno', 'query': 'Alfred Cove', 'radius': 1056.6, 'pagetoken': 'ATtYBwJaOdJS6EkaU74GZ6NTg8jSUVSquD7BYn4tx67lm855fB6iWjI7CA8l3dBiGOMlEHdYsIl32O58eRsXpKuUf9kgnYNg3zf2v0ZBhlW6XcZgDcJcEDY6votCnyEDtUy8tGhPMXI8RHZqqGuDFlBwaRLom-_nWABNdd7eShaiEp8XBqMrXYWGFYPGpv5lCg-Ma7CiPfNmLGcsyVt58J-5RSC-Fth6CnEO9kQCeroR_Cru_I0EAQJ1lO5P_C7S8ht035zQ4tmyxzte78YEghuHj5VD53f0NSzI8wF3Tuu7gi4RNLkoc_nz8D_DEtJMud20X1K6DW8HXiCIAZqhK70OWZU7a6LYmoUN6E10Sj3FpjYIkprRlchZRimICSCjeRrBWOs-XfES2ka7DVm9WaA8CrAzUGN2ZLbjOXAk'}
4 total results found.

Results found for Alkimos, 6038.

{'region': 'AU-WA', 'business_status': 'operational', 'type': 'restaurant', 'key': 'AIzaSyAYhgkNxKue4a_G_5CdKk3hfowOug_lQno', 'query': 'Alkimos', 'radius': 17174.399999999998, 'pagetoken': 'ATtYBwJaOdJS6EkaU74GZ6NTg8jSUVSquD7BYn4tx67lm855fB6iWjI7CA8l3dBiGOMlEHdYsIl32O58eRsXpKuUf9kgnYNg3zf2v0ZBhlW6XcZgDcJcEDY6votCnyEDtUy8tGhPMXI8RHZqqGuDFlBwaRLom-_nWABNdd7eShaiEp8XBqMrXYWGFYPGpv5lCg-Ma7CiPfNmLGcsyVt58J-5RSC-Fth6CnEO9kQCeroR_Cru_I0EAQJ1lO5P_C7S8ht035zQ4tmyxzte78YEghuHj5VD53f0NSzI8wF3Tuu7gi4RNLkoc_nz8D_DEtJMud20X1K6DW8HXiCIAZqhK70OWZU7a6LYmoUN6E10Sj3FpjYIkprRlchZRimICSCjeRrBWOs-XfES2ka7DVm9WaA8CrAzUGN2ZLbjOXAk'}
4 total results found.

Results found for Anketell, 6167.

{'region': 'AU-WA', 'business_status': 'operational', 'type': 'restaurant', 'key': 'AIzaSyAYhgkNxKue4a_G_5CdKk3hfowOug_lQno', 'query': 'Anketell', 'radius': 6822.0, 'pagetoken': 'ATtYBwJaOdJS6EkaU74GZ6NTg8jSUVSquD7BYn4tx67lm855fB6iWjI7CA8l3dBiGOMlEHdYsIl32O58eRsXpKuUf9kgnYNg3zf2v0ZBhlW6XcZgDcJcEDY6votCnyEDtUy8tGhPMXI8RHZqqGuDFlBwaRLom-_nWABNdd7eShaiEp8XBqMrXYWGFYPGpv5lCg-Ma7CiPfNmLGcsyVt58J-5RSC-Fth6CnEO9kQCeroR_Cru_I0EAQJ1lO5P_C7S8ht035zQ4tmyxzte78YEghuHj5VD53f0NSzI8wF3Tuu7gi4RNLkoc_nz8D_DEtJMud20X1K6DW8HXiCIAZqhK70OWZU7a6LYmoUN6E10Sj3FpjYIkprRlchZRimICSCjeRrBWOs-XfES2ka7DVm9WaA8CrAzUGN2ZLbjOXAk'}
4 total results found.

Results found for Applecross, 6153.

{'region': 'AU-WA', 'business_status': 'operational', 'type': 'restaurant', 'key': 'AIzaSyAYhgkNxKue4a_G_5CdKk3hfowOug_lQno', 'query': 'Applecross', 'radius': 3195.3999999999996, 'pagetoken': 'ATtYBwJaOdJS6EkaU74GZ6NTg8jSUVSquD7BYn4tx67lm855fB6iWjI7CA8l3dBiGOMlEHdYsIl32O58eRsXpKuUf9kgnYNg3zf2v0ZBhlW6XcZgDcJcEDY6votCnyEDtUy8tGhPMXI8RHZqqGuDFlBwaRLom-_nWABNdd7eShaiEp8XBqMrXYWGFYPGpv5lCg-Ma7CiPfNmLGcsyVt58J-5RSC-Fth6CnEO9kQCeroR_Cru_I0EAQJ1lO5P_C7S8ht035zQ4tmyxzte78YEghuHj5VD53f0NSzI8wF3Tuu7gi4RNLkoc_nz8D_DEtJMud20X1K6DW8HXiCIAZqhK70OWZU7a6LYmoUN6E10Sj3FpjYIkprRlchZRimICSCjeRrBWOs-XfES2ka7DVm9WaA8CrAzUGN2ZLbjOXAk'}
4 total results found.

KeyboardInterrupt:

In [27]:
pc_price_census_data

,Postcode,Suburb,Suburb sqkm,Median House Price,Median Age (Persons),Median Mortgage Repayments (Monthly),Median Total Personal Income (Weekly),Median Rent (Weekly),Median Total Family Income (Weekly),Average Number of Persons per Bedroom,...,Unemployment Rate (%),Number of restaurants,Minimum Rating,Maximum Rating,Average Rating of restaurants,Total Number of Reviews,Average Number of Reviews,Minimum Price Level,Maximum Price Level,Average Price Level
0,6064,Alexander Heights,3.1816,453285,37,1800,625,390,1704,0.8,...,8.8,24,3.4,4.8,4.17917,4189,174.542,1,2,0.708333
1,6154,Alfred Cove,1.0566,840087,39,2420,852,443,2542,0.8,...,4.4,4,3.6,4.6,4.2,1433,358.25,1,1,0.25
2,6038,Alkimos,17.1744,413750,28,2249,930,360,2094,0.7,...,6.6,4,3.6,4.6,4.2,1433,358.25,1,1,0.25
3,6167,Anketell,6.8220,1008763,45,1733,641,420,1958,0.8,...,2.4,4,3.6,4.6,4.2,1433,358.25,1,1,0.25
4,6153,Applecross,3.1954,1376690,43,2916,954,460,2764,0.7,...,6.0,4,3.6,4.6,4.2,1433,358.25,1,1,0.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
315,6558,Wooroloo,47.3168,435353,36,2000,676,260,1718,0.8,...,7.5,,,,,,,,,
316,6112,Wungong,4.1374,664118,42,2000,622,498,1687,0.8,...,9.4,,,,,,,,,
317,6035,Yanchep,218.5206,398192,34,2050,691,350,1728,0.7,...,9.2,,,,,,,,,
318,6164,Yangebup,6.0198,473640,35,1950,738,350,1974,0.8,...,8.3,,,,,,,,,
319,6060,Yokine,4.8516,625320,37,1957,788,340,1903,0.8,...,7.1,,,,,,,,,

In [ ]:
pc_price_census_data.dtypes

In [ ]:
pc_price_census_data['Number of restaurants'] = pd.to_numeric(pc_price_census_data['Number of restaurants'], errors = 'coerce')
pc_price_census_data['Minimum Rating'] = pd.to_numeric(pc_price_census_data['Minimum Rating'], errors = 'coerce')
pc_price_census_data['Maximum Rating'] = pd.to_numeric(pc_price_census_data['Maximum Rating'], errors = 'coerce')
pc_price_census_data['Average Rating of restaurants'] = pd.to_numeric(pc_price_census_data['Average Rating of restaurants'], errors = 'coerce')
pc_price_census_data['Total Number of Reviews'] = pd.to_numeric(pc_price_census_data['Total Number of Reviews'], errors = 'coerce')
pc_price_census_data['Average Number of Reviews'] = pd.to_numeric(pc_price_census_data['Average Number of Reviews'], errors = 'coerce')
pc_price_census_data['Minimum Price Level'] = pd.to_numeric(pc_price_census_data['Minimum Price Level'], errors = 'coerce')
pc_price_census_data['Maximum Price Level'] = pd.to_numeric(pc_price_census_data['Maximum Price Level'], errors = 'coerce')
pc_price_census_data['Average Price Level'] = pd.to_numeric(pc_price_census_data['Average Price Level'], errors = 'coerce')

In [ ]:
socioec_restaurant = pc_price_census_data
socioec_restaurant['Restaurant Density'] = socioec_restaurant['Number of restaurants'] / socioec_restaurant['Suburb sqkm']
socioec_restaurant

In [ ]:
#export dataframe to csv
socioec_restaurant.to_csv("../Outputs/socio_demographic_restaurant_data.csv", index=False)

In [ ]:
#bring in wa_electorial_populations.csv
load_csv = "../data/wa_electorial_populations.csv"
wa_populations = pd.read_csv(load_csv)
wa_populations.head()